<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Form Peserta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
</head>
<body>

    <!-- NAVIGATION -->
    <nav class="navbar">
        <div class="left">
            <h1 class="glow-text">Karate ChampionShip</h1>
        </div>
    </nav>

    <section class="Karates-form">
        <div class="karate-form-container" data-aos="fade-up">
            <h1 class="form-title glow-text">Form Peserta Karate</h1>
            <form method="POST" action="/submit">
                <input type="hidden" name="jumlah" value="{{ jumlah }}">
                <div id="participantContainer">
                    {% for i in range(1, jumlah + 1) %}
                        <div class="participant-entry">
                            <label for="nama_{{ i }}">Nama Peserta {{ i }}:</label>
                            <input type="text" id="nama_{{ i }}" name="nama_{{ i }}" required>

                            <label for="keterangan_{{ i }}">Keterangan:</label>
                            <select id="keterangan_{{ i }}" name="keterangan_{{ i }}" required>
                                <option value="Seeded">Seeded</option>
                                <option value="Normal">Normal</option>
                            </select>
                        </div>
                    {% endfor %}
                </div>
                <button id="submitBtn" type="submit"><span>Buat Bracket</span><i></i></button>
            </form>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>
</html>
